@charset "UTF-8";

.top-banner{max-width: 1920px; height: 300px; margin: 0 auto; background: url(../images/storeimg/top-banner.jpg) no-repeat center center;}
.top-banner-2{max-width: 1920px; height: 300px; margin: 0 auto; background: url(../images/memberimg/re-banner.jpg) no-repeat center center;}
.top-banner .tit,
.top-banner-2 .tit{font-size: 50px; color: #fff; text-align: center; font-weight: 600; padding-top: 90px}
.top-banner .tit span,
.top-banner-2 .tit span{color: #d60037;}
.top-banner .txt,
.top-banner-2 .txt{font-size: 25px; text-align: center; color: #e1e1e1; padding-top: 25px;}

.location{max-width: 1180px; margin: 0 auto; padding-top: 42px; text-align: right;}
.location a{padding-left: 25px; margin-left: 20px; font-size: 13px; line-height: 15px; color: #d60037; background: url(../images/storeimg/location_arrow.png) no-repeat left;}
.location a:first-child{background: none;}

.store-map{max-width: 1180px; margin: 0 auto; margin-top: 48px; padding-bottom: 100px;}
.store-map .kakao-map{position: relative;}
.store-map .kakao-map .store-srch{height: 540px; position: absolute; left: 55px; top: 40px; z-index: 2;}
.store-map .kakao-map .store-srch > button{width: 130px; height: 40px;}
.store-map .kakao-map .store-srch > button.active{color: #d60037;}
.store-map .kakao-map .store-srch input{width: 260px; height: 50px; font-size: 16px; background-color: #fff; border: 10px solid #d60037; box-sizing: border-box;}
.store-map .kakao-map .store-srch div{width: 260px; position: relative;}
.store-map .kakao-map .store-srch div .srch-ico{width: 17px; height: 20px; background: #fff url(../images/storeimg/srch-store.png) no-repeat center center; position: absolute; right: 20px; top: 50%; transform: translateY(-50%);}
.store-map .kakao-map .store-srch > button span{font-size: 16px; color: #fff; font-weight: 500;}
.store-map .kakao-map .store-srch > button:nth-child(1){background-color: #d60037;}
.store-map .kakao-map .store-srch > button:nth-child(2){background-color: #54565a; margin-left: -4px;}
.store-map .kakao-map .store-srch .stre-wrap{width: 260px; height: 450px; box-sizing: border-box; overflow: scroll;display: none; overflow: hidden; }
.store-map .kakao-map .store-srch .stre-wrap.onclick{display: block; overflow: visible;}
.store-map .kakao-map .store-srch .stre-wrap li{width: 260px; height: 123px; position: relative; padding:24px 0 24px 20px; box-sizing: border-box; background-color: #fff; border: 1px solid #e1e1e1; border-collapse: collapse;}
.store-map .kakao-map .store-srch .stre-wrap li.here{background-color: #fdf2f5;}
.store-map .kakao-map .store-srch .stre-wrap li a{display: block;}
.store-map .kakao-map .store-srch .stre-wrap li a span{display: block;}
.store-map .kakao-map .store-srch .stre-wrap li a span+span{margin: 10px 0; font-weight: 300;}
.store-map .kakao-map .store-srch .stre-wrap li a span:nth-child(1){font-size: 16px; font-weight: 500; color: #54565a;}
.store-map .kakao-map .store-srch .stre-wrap li a span:nth-child(2){font-size: 13px; font-family: 15px; color: #9d9d9d; margin: 8px 0;}
.store-map .kakao-map .store-srch .stre-wrap li a span:nth-child(3){font-size: 13px; font-family: 'Noto Sans KR'; color: #d60037;}
.store-map .kakao-map .store-srch .stre-wrap li a .mark{width: 22px; height: 29px; position: absolute; right: 20px; bottom: 22px; z-index: 34; margin: 0;}
.store-map .kakao-map .store-srch .stre-wrap li a .mark img{width: 100%; height: 100%;}
/* Twosome Reword */
.container{ max-width: 1180px; margin: 0 auto; text-align: center;}
#lnb{width: 1180px; margin: 0 auto; margin-top: -42px;}
#lnb li{display: inline-block; width: 350px; height: 40px; border: 1px solid #e1e1e1; background-color: #fff; border-right: none; border-collapse: collapse;}
#lnb li+li{margin-left: -4px;}
#lnb li.on{border-bottom: 1px solid #fff;}
#lnb li.on a{font-weight: 500; color: #54565a;}
#lnb li:last-child{border-right: 1px solid #e1e1e1;}
#lnb li a{display: block; text-align: center; line-height: 40px; color: #9d9d9d;}
.reword{padding-top: 50px;}
.reword h2{display: inline-block; font-size: 25px; font-weight: 400; margin-right: 20px; vertical-align: top;}
.reword h2 span{display:inline-block; color: #d60037; font-weight: 600;}
.reword p{display: inline-block; font-size: 16px; line-height: 24px; text-align: left;}

.reword .img-area{width: 100%; height: 280px; margin-top: 50px; text-align: center; margin-bottom: 80px;}
.reword .img-area::after{content: ""; display: block; clear: both;}
.reword .img-area li{width: 280px; height: 280px; float: left; border: 1px solid #e1e1e1; box-sizing: border-box;}
.reword .img-area li img{width: 100px; height: 100px;}
.reword .img-area li p{font-size: 16px; color: #9d9d9d; line-height: 24px; text-align: center;}
.reword .img-area li+li{margin-left: 20px;}
.reword .img-area li .re-img{width: 100px; height: 100px; margin: 50px auto 30px;}
.reword .img-area li:nth-child(3) .re-img{width: 70px; height: 100px;}

.app-down{}
.app-down div{display: inline-block; text-align: left;}
.app-down .p-a-img{width: 438px; height: 436px;}
.app-down div .txt-area{width: 100%; font-family: 'Noto Sans KR'; position: relative; left: 56px; top: 50px;}
.app-down div .txt-area h3{display: inline-block; font-size: 20px; font-weight: 400; line-height: 28px; color: #54565a;}
.app-down div .txt-area h3 span{color: #d60037; font-weight: 600;}
.app-down div .txt-area p{display: block; line-height: 24px; color: #9d9d9d; padding-top: 20px;}
.app-down div .txt-area .dwn-bt{margin-top: 30px;}
.app-down div .txt-area .dwn-bt button{color: transparent; background-color: transparent; padding: 0;}
.app-down div .txt-area .dwn-bt .ios{}
.app-down div .txt-area .dwn-bt .and{margin-left: 1px;}

